<!DOCTYPE html>
<html lang="cmn-Hans-CN" xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->
<head>
<meta charset="utf-8" />
<title>润檬科技 | 管理台</title>
<meta name="description" content="润檬科技">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

<!--begin::Web font -->
<!--end::Web font -->

<!--begin::Global Theme Styles -->
<link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/demo/demo9/base/style.bundle.css" rel="stylesheet" type="text/css" />
<!--end::Global Theme Styles -->

<!--begin::Page Vendors Styles -->
<link href="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css"
	rel="stylesheet" type="text/css" />
<!--end::Page Vendors Styles -->

<link rel="shortcut icon" href="/assets/demo/demo9/media/img/logo/favicon.ico" />
</head>
<!-- end::Head -->

<!-- begin::Body -->
<body class="m--skin- m-page--loading-enabled m-page--loading m-content--skin-light m-header--fixed m-header--fixed-mobile m-aside-left--offcanvas-default m-aside-left--enabled m-aside-left--fixed m-aside-left--skin-dark m-aside--offcanvas-default">

	<!-- begin::Page loader -->
	<div class="m-page-loader m-page-loader--base">
		<div class="m-blockui">
			<span>加载中...</span> <span>
				<div class="m-loader m-loader--brand"></div>
			</span>
		</div>
	</div>

	<!-- end::Page Loader -->

	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<!-- BEGIN: Header -->
		<header th:replace="common/header" />
		<!-- END: Header -->

		<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-container m-container--responsive m-container--xxl m-container--full-height">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">

					<!-- BEGIN: Subheader -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title ">概 况</h3>
							</div>
						</div>
					</div>

					<!-- END: Subheader -->
					<div class="m-content">

						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-6">

								<!--begin:: Widgets/Quick Stats-->
								<div class="row m-row--full-height">
									<div class="col-sm-12 col-md-12 col-lg-6">
										<div class="m-portlet m-portlet--half-height m-portlet--border-bottom-brand ">
											<div class="m-portlet__body">
												<div class="m-widget26">
													<div class="m-widget26__number">
														570 <small>学校</small>
													</div>
													<div class="m-widget26__chart" style="height: 90px; width: 220px;">
														<canvas id="m_chart_quick_stats_1"></canvas>
													</div>
												</div>
											</div>
										</div>
										<div class="m--space-30"></div>
										<div class="m-portlet m-portlet--half-height m-portlet--border-bottom-danger ">
											<div class="m-portlet__body">
												<div class="m-widget26">
													<div class="m-widget26__number">
														690 <small>老师</small>
													</div>
													<div class="m-widget26__chart" style="height: 90px; width: 220px;">
														<canvas id="m_chart_quick_stats_2"></canvas>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-md-12 col-lg-6">
										<div
											class="m-portlet m-portlet--half-height m-portlet--border-bottom-success ">
											<div class="m-portlet__body">
												<div class="m-widget26">
													<div class="m-widget26__number">
														230 <small>学生</small>
													</div>
													<div class="m-widget26__chart" style="height: 90px; width: 220px;">
														<canvas id="m_chart_quick_stats_3"></canvas>
													</div>
												</div>
											</div>
										</div>
										<div class="m--space-30"></div>
										<div
											class="m-portlet m-portlet--half-height m-portlet--border-bottom-accent ">
											<div class="m-portlet__body">
												<div class="m-widget26">
													<div class="m-widget26__number">
														470 <small>家长</small>
													</div>
													<div class="m-widget26__chart" style="height: 90px; width: 220px;">
														<canvas id="m_chart_quick_stats_4"></canvas>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--end:: Widgets/Quick Stats-->
							</div>
							<div class="col-xl-6">

								<!--begin:: Widgets/Finance Summary-->
								<div class="m-portlet m-portlet--full-height m-portlet--fit ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">Finance Summary</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul
												class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm"
												role="tablist">
												<li class="nav-item m-tabs__item"><a
													class="nav-link m-tabs__link active" data-toggle="tab"
													href="#m_widget4_tab1_content" role="tab"> Month </a></li>
												<li class="nav-item m-tabs__item"><a
													class="nav-link m-tabs__link" data-toggle="tab"
													href="#m_widget4_tab2_content" role="tab"> All Time </a></li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="tab-content">
											<div class="tab-pane active">
												<div
													class="m-widget12 m-widget12--chart-bottom m--margin-top-10"
													style="min-height: 450px">
													<div class="m-widget12__item">
														<span class="m-widget12__text1">Annual Companies
															Taxes EMS<br> <span>$500,000</span>
														</span> <span class="m-widget12__text2">Next Tax Review
															Date<br> <span>July 24,2017</span>
														</span>
													</div>
													<div class="m-widget12__item">
														<span class="m-widget12__text1">Avarage Product
															Price<br> <span>$60,70</span>
														</span>
														<div class="m-widget12__text2">
															<div class="m-widget12__desc">Satisfication Rate</div>
															<br>
															<div class="m-widget12__progress">
																<div
																	class="m-widget12__progress-sm progress m-progress--sm">
																	<div
																		class="m-widget12__progress-bar progress-bar bg-brand"
																		role="progressbar" aria-valuenow="25"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
																<span class="m-widget12__stats"> 63% </span>
															</div>
														</div>
													</div>
													<div class="m-widget12__chart m-portlet-fit--sides"
														style="height: 290px;">
														<canvas id="m_chart_finance_summary"></canvas>
													</div>
												</div>
											</div>
											<div class="tab-pane"></div>
										</div>
									</div>
								</div>

								<!--end:: Widgets/Finance Summary-->
							</div>
						</div>

						<!--End::Section-->

						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-8">

								<!--begin:: Widgets/Application Sales-->
								<div class="m-portlet m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">Application Sales</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul
												class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm"
												role="tablist">
												<li class="nav-item m-tabs__item"><a
													class="nav-link m-tabs__link active" data-toggle="tab"
													href="#m_widget11_tab1_content" role="tab"> Last Month
												</a></li>
												<li class="nav-item m-tabs__item"><a
													class="nav-link m-tabs__link" data-toggle="tab"
													href="#m_widget11_tab2_content" role="tab"> All Time </a></li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="tab-content">
											<div class="tab-pane active" id="m_widget11_tab1_content">

												<!--begin::Widget 11-->
												<div class="m-widget11">
													<div class="table-responsive">

														<!--begin::Table-->
														<table class="table">

															<!--begin::Thead-->
															<thead>
																<tr>
																	<td class="m-widget11__label">#</td>
																	<td class="m-widget11__app">Application</td>
																	<td class="m-widget11__sales">Sales</td>
																	<td class="m-widget11__change">Change</td>
																	<td class="m-widget11__price">Avg Price</td>
																	<td class="m-widget11__total m--align-right">Total</td>
																</tr>
															</thead>

															<!--end::Thead-->

															<!--begin::Tbody-->
															<tbody>
																<tr>
																	<td><label
																		class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
																			<input type="checkbox"><span></span>
																	</label></td>
																	<td><span class="m-widget11__title">Vertex
																			2.0</span> <span class="m-widget11__sub">Vertex To By
																			Again</span></td>
																	<td>19,200</td>
																	<td>
																		<div class="m-widget11__chart"
																			style="height: 50px; width: 100px">
																			<iframe class="chartjs-hidden-iframe" tabindex="-1"
																				style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
																			<canvas id="m_chart_sales_by_apps_1_1"
																				style="display: block; width: 100px; height: 50px;"
																				width="100" height="50"></canvas>
																		</div>
																	</td>
																	<td>$63</td>
																	<td class="m--align-right m--font-brand">$14,740</td>
																</tr>
																<tr>
																	<td><label
																		class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand"><input
																			type="checkbox"><span></span></label></td>
																	<td><span class="m-widget11__title">Metronic</span>
																		<span class="m-widget11__sub">Powerful Admin
																			Theme</span></td>
																	<td>24,310</td>
																	<td>
																		<div class="m-widget11__chart"
																			style="height: 50px; width: 100px">
																			<iframe class="chartjs-hidden-iframe" tabindex="-1"
																				style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
																			<canvas id="m_chart_sales_by_apps_1_2"
																				style="display: block; width: 100px; height: 50px;"
																				width="100" height="50"></canvas>
																		</div>
																	</td>
																	<td>$39</td>
																	<td class="m--align-right m--font-brand">$16,010</td>
																</tr>
																<tr>
																	<td><label
																		class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand"><input
																			type="checkbox"><span></span></label></td>
																	<td><span class="m-widget11__title">Apex</span> <span
																		class="m-widget11__sub">The Best Selling App</span></td>
																	<td>9,076</td>
																	<td>
																		<div class="m-widget11__chart"
																			style="height: 50px; width: 100px">
																			<iframe class="chartjs-hidden-iframe" tabindex="-1"
																				style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
																			<canvas id="m_chart_sales_by_apps_1_3"
																				style="display: block; width: 100px; height: 50px;"
																				width="100" height="50"></canvas>
																		</div>
																	</td>
																	<td>$105</td>
																	<td class="m--align-right m--font-brand">$37,200</td>
																</tr>
																<tr>
																	<td><label
																		class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand"><input
																			type="checkbox"><span></span></label></td>
																	<td><span class="m-widget11__title">Cascades</span>
																		<span class="m-widget11__sub">Design Tool</span></td>
																	<td>11,094</td>
																	<td>
																		<div class="m-widget11__chart"
																			style="height: 50px; width: 100px">
																			<iframe class="chartjs-hidden-iframe" tabindex="-1"
																				style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
																			<canvas id="m_chart_sales_by_apps_1_4"
																				style="display: block; width: 100px; height: 50px;"
																				width="100" height="50"></canvas>
																		</div>
																	</td>
																	<td>$16</td>
																	<td class="m--align-right m--font-brand">$8,520</td>
																</tr>
															</tbody>

															<!--end::Tbody-->
														</table>

														<!--end::Table-->
													</div>
													<div class="m-widget11__action m--align-right">
														<button type="button"
															class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--hover-brand">Generate
															Report</button>
													</div>
												</div>

												<!--end::Widget 11-->
											</div>
											<div class="tab-pane" id="m_widget11_tab2_content">

												<!--begin::Widget 11-->
												<div class="m-widget11">
													<div class="table-responsive">

														<!--begin::Table-->
														<table class="table">

															<!--begin::Thead-->
															<thead>
																<tr>
																	<td class="m-widget11__label">#</td>
																	<td class="m-widget11__app">Application</td>
																	<td class="m-widget11__sales">Sales</td>
																	<td class="m-widget11__change">Change</td>
																	<td class="m-widget11__price">Avg Price</td>
																	<td class="m-widget11__total m--align-right">Total</td>
																</tr>
															</thead>

															<!--end::Thead-->

															<!--begin::Tbody-->
															<tbody>
																<tr>
																	<td><label
																		class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
																			<input type="checkbox"><span></span>
																	</label></td>
																	<td><span class="m-widget11__title">Loop</span> <span
																		class="m-widget11__sub">CRM System</span></td>
																	<td>19,200</td>
																	<td>
																		<div class="m-widget11__chart"
																			style="height: 50px; width: 100px">
																			<iframe class="chartjs-hidden-iframe" tabindex="-1"
																				style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
																			<canvas id="m_chart_sales_by_apps_2_1"
																				style="display: block; width: 0px; height: 0px;"
																				height="0" width="0"></canvas>
																		</div>
																	</td>
																	<td>$63</td>
																	<td class="m--align-right m--font-brand">$34,740</td>
																</tr>
																<tr>
																	<td><label
																		class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand"><input
																			type="checkbox"><span></span></label></td>
																	<td><span class="m-widget11__title">Selto</span> <span
																		class="m-widget11__sub">Powerful Website
																			Builder</span></td>
																	<td>24,310</td>
																	<td>
																		<div class="m-widget11__chart"
																			style="height: 50px; width: 100px">
																			<iframe class="chartjs-hidden-iframe" tabindex="-1"
																				style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
																			<canvas id="m_chart_sales_by_apps_2_2"
																				style="display: block; width: 0px; height: 0px;"
																				height="0" width="0"></canvas>
																		</div>
																	</td>
																	<td>$39</td>
																	<td class="m--align-right m--font-brand">$46,010</td>
																</tr>
																<tr>
																	<td><label
																		class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand"><input
																			type="checkbox"><span></span></label></td>
																	<td><span class="m-widget11__title">Jippo</span> <span
																		class="m-widget11__sub">The Best Selling App</span></td>
																	<td>9,076</td>
																	<td>
																		<div class="m-widget11__chart"
																			style="height: 50px; width: 100px">
																			<iframe class="chartjs-hidden-iframe" tabindex="-1"
																				style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
																			<canvas id="m_chart_sales_by_apps_2_3"
																				style="display: block; width: 0px; height: 0px;"
																				height="0" width="0"></canvas>
																		</div>
																	</td>
																	<td>$105</td>
																	<td class="m--align-right m--font-brand">$67,800</td>
																</tr>
																<tr>
																	<td><label
																		class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand"><input
																			type="checkbox"><span></span></label></td>
																	<td><span class="m-widget11__title">Verto</span> <span
																		class="m-widget11__sub">Web Development Tool</span></td>
																	<td>11,094</td>
																	<td>
																		<div class="m-widget11__chart"
																			style="height: 50px; width: 100px">
																			<iframe class="chartjs-hidden-iframe" tabindex="-1"
																				style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
																			<canvas id="m_chart_sales_by_apps_2_4"
																				style="display: block; width: 0px; height: 0px;"
																				height="0" width="0"></canvas>
																		</div>
																	</td>
																	<td>$16</td>
																	<td class="m--align-right m--font-brand">$18,520</td>
																</tr>
															</tbody>

															<!--end::Tbody-->
														</table>

														<!--end::Table-->
													</div>
													<div class="m-widget11__action m--align-right">
														<button type="button"
															class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--hover-brand">Generate
															Report</button>
													</div>
												</div>

												<!--end::Widget 11-->
											</div>
										</div>
									</div>
								</div>

								<!--end:: Widgets/Application Sales-->
							</div>
							<div class="col-xl-4">

								<!--begin:: Widgets/Latest Updates-->
								<div class="m-portlet m-portlet--full-height m-portlet--fit ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">Latest Updates</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul class="m-portlet__nav">
												<li
													class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
													m-dropdown-toggle="hover"><a href="#"
													class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
														Today </a>
													<div class="m-dropdown__wrapper">
														<span
															class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
														<div class="m-dropdown__inner">
															<div class="m-dropdown__body">
																<div class="m-dropdown__content">
																	<ul class="m-nav">
																		<li class="m-nav__item"><a href=""
																			class="m-nav__link"> <i
																				class="m-nav__link-icon flaticon-share"></i> <span
																				class="m-nav__link-text">Activity</span>
																		</a></li>
																		<li class="m-nav__item"><a href=""
																			class="m-nav__link"> <i
																				class="m-nav__link-icon flaticon-chat-1"></i> <span
																				class="m-nav__link-text">Messages</span>
																		</a></li>
																		<li class="m-nav__item"><a href=""
																			class="m-nav__link"> <i
																				class="m-nav__link-icon flaticon-info"></i> <span
																				class="m-nav__link-text">FAQ</span>
																		</a></li>
																		<li class="m-nav__item"><a href=""
																			class="m-nav__link"> <i
																				class="m-nav__link-icon flaticon-lifebuoy"></i> <span
																				class="m-nav__link-text">Support</span>
																		</a></li>
																	</ul>
																</div>
															</div>
														</div>
													</div></li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="m-widget4 m-widget4--chart-bottom"
											style="min-height: 350px">
											<div class="m-widget4__item">
												<div class="m-widget4__ext">
													<a href="#" class="m-widget4__icon m--font-brand"> <i
														class="flaticon-interface-3"></i>
													</a>
												</div>
												<div class="m-widget4__info">
													<span class="m-widget4__text"> Make Metronic Great
														Again </span>
												</div>
												<div class="m-widget4__ext">
													<span class="m-widget4__number m--font-accent">+500</span>
												</div>
											</div>
											<div class="m-widget4__item">
												<div class="m-widget4__ext">
													<a href="#" class="m-widget4__icon m--font-brand"> <i
														class="flaticon-folder-4"></i>
													</a>
												</div>
												<div class="m-widget4__info">
													<span class="m-widget4__text"> Green Maker Team </span>
												</div>
												<div class="m-widget4__ext">
													<span class="m-widget4__stats m--font-info"> <span
														class="m-widget4__number m--font-accent">-64</span>
													</span>
												</div>
											</div>
											<div class="m-widget4__item">
												<div class="m-widget4__ext">
													<a href="#" class="m-widget4__icon m--font-brand"> <i
														class="flaticon-line-graph"></i>
													</a>
												</div>
												<div class="m-widget4__info">
													<span class="m-widget4__text"> Make Apex Great Again
													</span>
												</div>
												<div class="m-widget4__ext">
													<span class="m-widget4__stats m--font-info"> <span
														class="m-widget4__number m--font-accent">+1080</span>
													</span>
												</div>
											</div>
											<div class="m-widget4__item m-widget4__item--last">
												<div class="m-widget4__ext">
													<a href="#" class="m-widget4__icon m--font-brand"> <i
														class="flaticon-diagram"></i>
													</a>
												</div>
												<div class="m-widget4__info">
													<span class="m-widget4__text"> A Programming
														Language </span>
												</div>
												<div class="m-widget4__ext">
													<span class="m-widget4__stats m--font-info"> <span
														class="m-widget4__number m--font-accent">+19</span>
													</span>
												</div>
											</div>
											<div
												class="m-widget4__chart m-portlet-fit--sides m--margin-top-20 m-portlet-fit--bottom1"
												style="height: 120px;">
												<canvas id="m_chart_latest_updates"></canvas>
											</div>
										</div>
									</div>
								</div>
								<!--end:: Widgets/Latest Updates-->
							</div>
						</div>
						<!--End::Section-->
					</div>
				</div>
			</div>
		</div>

		<!-- end:: Body -->

		<!-- begin::Footer -->
		<footer th:replace="common/footer" />		
		<!-- end::Footer -->
	</div>

	<!-- end:: Page -->

	<!-- begin::Quick Sidebar -->
	<div id="m_quick_sidebar"
		class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light">
		<div class="m-quick-sidebar__content m--hide">
			<span id="m_quick_sidebar_close" class="m-quick-sidebar__close"><i
				class="la la-close"></i></span>
			<ul id="m_quick_sidebar_tabs"
				class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand"
				role="tablist">
				<li class="nav-item m-tabs__item"><a
					class="nav-link m-tabs__link active" data-toggle="tab"
					href="#m_quick_sidebar_tabs_messenger" role="tab">Messages</a></li>
				<li class="nav-item m-tabs__item"><a
					class="nav-link m-tabs__link" data-toggle="tab"
					href="#m_quick_sidebar_tabs_settings" role="tab">Settings</a></li>
				<li class="nav-item m-tabs__item"><a
					class="nav-link m-tabs__link" data-toggle="tab"
					href="#m_quick_sidebar_tabs_logs" role="tab">Logs</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="m_quick_sidebar_tabs_messenger"
					role="tabpanel">
					<div
						class="m-messenger m-messenger--message-arrow m-messenger--skin-light">
						<div class="m-messenger__messages m-scrollable">
							<div class="m-messenger__wrapper">
								<div class="m-messenger__message m-messenger__message--in">
									<div class="m-messenger__message-pic">
										<img src="assets/app/media/img//users/user3.jpg" alt="" />
									</div>
									<div class="m-messenger__message-body">
										<div class="m-messenger__message-arrow"></div>
										<div class="m-messenger__message-content">
											<div class="m-messenger__message-username">Megan wrote
											</div>
											<div class="m-messenger__message-text">Hi Bob. What
												time will be the meeting ?</div>
										</div>
									</div>
								</div>
							</div>
							<div class="m-messenger__wrapper">
								<div class="m-messenger__message m-messenger__message--out">
									<div class="m-messenger__message-body">
										<div class="m-messenger__message-arrow"></div>
										<div class="m-messenger__message-content">
											<div class="m-messenger__message-text">Hi Megan. It's
												at 2.30PM</div>
										</div>
									</div>
								</div>
							</div>
							<div class="m-messenger__wrapper">
								<div class="m-messenger__message m-messenger__message--in">
									<div class="m-messenger__message-pic">
										<img src="assets/app/media/img//users/user3.jpg" alt="" />
									</div>
									<div class="m-messenger__message-body">
										<div class="m-messenger__message-arrow"></div>
										<div class="m-messenger__message-content">
											<div class="m-messenger__message-username">Megan wrote
											</div>
											<div class="m-messenger__message-text">Will the
												development team be joining ?</div>
										</div>
									</div>
								</div>
							</div>
							<div class="m-messenger__wrapper">
								<div class="m-messenger__message m-messenger__message--out">
									<div class="m-messenger__message-body">
										<div class="m-messenger__message-arrow"></div>
										<div class="m-messenger__message-content">
											<div class="m-messenger__message-text">Yes sure. I
												invited them as well</div>
										</div>
									</div>
								</div>
							</div>
							<div class="m-messenger__datetime">2:30PM</div>
							<div class="m-messenger__wrapper">
								<div class="m-messenger__message m-messenger__message--in">
									<div class="m-messenger__message-pic">
										<img src="assets/app/media/img//users/user3.jpg" alt="" />
									</div>
									<div class="m-messenger__message-body">
										<div class="m-messenger__message-arrow"></div>
										<div class="m-messenger__message-content">
											<div class="m-messenger__message-username">Megan wrote
											</div>
											<div class="m-messenger__message-text">Noted. For the
												Coca-Cola Mobile App project as well ?</div>
										</div>
									</div>
								</div>
							</div>
							<div class="m-messenger__wrapper">
								<div class="m-messenger__message m-messenger__message--out">
									<div class="m-messenger__message-body">
										<div class="m-messenger__message-arrow"></div>
										<div class="m-messenger__message-content">
											<div class="m-messenger__message-text">Yes, sure.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="m-messenger__wrapper">
								<div class="m-messenger__message m-messenger__message--out">
									<div class="m-messenger__message-body">
										<div class="m-messenger__message-arrow"></div>
										<div class="m-messenger__message-content">
											<div class="m-messenger__message-text">Please also
												prepare the quotation for the Loop CRM project as well.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="m-messenger__datetime">3:15PM</div>
							<div class="m-messenger__wrapper">
								<div class="m-messenger__message m-messenger__message--in">
									<div class="m-messenger__message-no-pic m--bg-fill-danger">
										<span>M</span>
									</div>
									<div class="m-messenger__message-body">
										<div class="m-messenger__message-arrow"></div>
										<div class="m-messenger__message-content">
											<div class="m-messenger__message-username">Megan wrote
											</div>
											<div class="m-messenger__message-text">Noted. I will
												prepare it.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="m-messenger__wrapper">
								<div class="m-messenger__message m-messenger__message--out">
									<div class="m-messenger__message-body">
										<div class="m-messenger__message-arrow"></div>
										<div class="m-messenger__message-content">
											<div class="m-messenger__message-text">Thanks Megan. I
												will see you later.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="m-messenger__wrapper">
								<div class="m-messenger__message m-messenger__message--in">
									<div class="m-messenger__message-pic">
										<img src="assets/app/media/img//users/user3.jpg" alt="" />
									</div>
									<div class="m-messenger__message-body">
										<div class="m-messenger__message-arrow"></div>
										<div class="m-messenger__message-content">
											<div class="m-messenger__message-username">Megan wrote
											</div>
											<div class="m-messenger__message-text">Sure. See you in
												the meeting soon.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="m-messenger__seperator"></div>
						<div class="m-messenger__form">
							<div class="m-messenger__form-controls">
								<input type="text" name="" placeholder="Type here..."
									class="m-messenger__form-input">
							</div>
							<div class="m-messenger__form-tools">
								<a href="" class="m-messenger__form-attachment"> <i
									class="la la-paperclip"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="m_quick_sidebar_tabs_settings"
					role="tabpanel">
					<div class="m-list-settings m-scrollable">
						<div class="m-list-settings__group">
							<div class="m-list-settings__heading">General Settings</div>
							<div class="m-list-settings__item">
								<span class="m-list-settings__item-label">Email
									Notifications</span> <span class="m-list-settings__item-control">
									<span
									class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
										<label> <input type="checkbox" checked="checked"
											name=""> <span></span>
									</label>
								</span>
								</span>
							</div>
							<div class="m-list-settings__item">
								<span class="m-list-settings__item-label">Site Tracking</span> <span
									class="m-list-settings__item-control"> <span
									class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
										<label> <input type="checkbox" name=""> <span></span>
									</label>
								</span>
								</span>
							</div>
							<div class="m-list-settings__item">
								<span class="m-list-settings__item-label">SMS Alerts</span> <span
									class="m-list-settings__item-control"> <span
									class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
										<label> <input type="checkbox" name=""> <span></span>
									</label>
								</span>
								</span>
							</div>
							<div class="m-list-settings__item">
								<span class="m-list-settings__item-label">Backup Storage</span>
								<span class="m-list-settings__item-control"> <span
									class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
										<label> <input type="checkbox" name=""> <span></span>
									</label>
								</span>
								</span>
							</div>
							<div class="m-list-settings__item">
								<span class="m-list-settings__item-label">Audit Logs</span> <span
									class="m-list-settings__item-control"> <span
									class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
										<label> <input type="checkbox" checked="checked"
											name=""> <span></span>
									</label>
								</span>
								</span>
							</div>
						</div>
						<div class="m-list-settings__group">
							<div class="m-list-settings__heading">System Settings</div>
							<div class="m-list-settings__item">
								<span class="m-list-settings__item-label">System Logs</span> <span
									class="m-list-settings__item-control"> <span
									class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
										<label> <input type="checkbox" name=""> <span></span>
									</label>
								</span>
								</span>
							</div>
							<div class="m-list-settings__item">
								<span class="m-list-settings__item-label">Error Reporting</span>
								<span class="m-list-settings__item-control"> <span
									class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
										<label> <input type="checkbox" name=""> <span></span>
									</label>
								</span>
								</span>
							</div>
							<div class="m-list-settings__item">
								<span class="m-list-settings__item-label">Applications
									Logs</span> <span class="m-list-settings__item-control"> <span
									class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
										<label> <input type="checkbox" name=""> <span></span>
									</label>
								</span>
								</span>
							</div>
							<div class="m-list-settings__item">
								<span class="m-list-settings__item-label">Backup Servers</span>
								<span class="m-list-settings__item-control"> <span
									class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
										<label> <input type="checkbox" checked="checked"
											name=""> <span></span>
									</label>
								</span>
								</span>
							</div>
							<div class="m-list-settings__item">
								<span class="m-list-settings__item-label">Audit Logs</span> <span
									class="m-list-settings__item-control"> <span
									class="m-switch m-switch--outline m-switch--icon-check m-switch--brand">
										<label> <input type="checkbox" name=""> <span></span>
									</label>
								</span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="m_quick_sidebar_tabs_logs" role="tabpanel">
					<div class="m-list-timeline m-scrollable">
						<div class="m-list-timeline__group">
							<div class="m-list-timeline__heading">System Logs</div>
							<div class="m-list-timeline__items">
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
									<a href="" class="m-list-timeline__text">12 new users
										registered <span
										class="m-badge m-badge--warning m-badge--wide">important</span>
									</a> <span class="m-list-timeline__time">Just now</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
									<a href="" class="m-list-timeline__text">System shutdown</a> <span
										class="m-list-timeline__time">11 mins</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-danger"></span>
									<a href="" class="m-list-timeline__text">New invoice
										received</a> <span class="m-list-timeline__time">20 mins</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-warning"></span>
									<a href="" class="m-list-timeline__text">Database
										overloaded 89% <span
										class="m-badge m-badge--success m-badge--wide">resolved</span>
									</a> <span class="m-list-timeline__time">1 hr</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
									<a href="" class="m-list-timeline__text">System error</a> <span
										class="m-list-timeline__time">2 hrs</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
									<a href="" class="m-list-timeline__text">Production server
										down <span class="m-badge m-badge--danger m-badge--wide">pending</span>
									</a> <span class="m-list-timeline__time">3 hrs</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
									<a href="" class="m-list-timeline__text">Production server
										up</a> <span class="m-list-timeline__time">5 hrs</span>
								</div>
							</div>
						</div>
						<div class="m-list-timeline__group">
							<div class="m-list-timeline__heading">Applications Logs</div>
							<div class="m-list-timeline__items">
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
									<a href="" class="m-list-timeline__text">New order received
										<span class="m-badge m-badge--info m-badge--wide">urgent</span>
									</a> <span class="m-list-timeline__time">7 hrs</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
									<a href="" class="m-list-timeline__text">12 new users
										registered</a> <span class="m-list-timeline__time">Just now</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
									<a href="" class="m-list-timeline__text">System shutdown</a> <span
										class="m-list-timeline__time">11 mins</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-danger"></span>
									<a href="" class="m-list-timeline__text">New invoices
										received</a> <span class="m-list-timeline__time">20 mins</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-warning"></span>
									<a href="" class="m-list-timeline__text">Database
										overloaded 89%</a> <span class="m-list-timeline__time">1 hr</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
									<a href="" class="m-list-timeline__text">System error <span
										class="m-badge m-badge--info m-badge--wide">pending</span></a> <span
										class="m-list-timeline__time">2 hrs</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
									<a href="" class="m-list-timeline__text">Production server
										down</a> <span class="m-list-timeline__time">3 hrs</span>
								</div>
							</div>
						</div>
						<div class="m-list-timeline__group">
							<div class="m-list-timeline__heading">Server Logs</div>
							<div class="m-list-timeline__items">
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
									<a href="" class="m-list-timeline__text">Production server
										up</a> <span class="m-list-timeline__time">5 hrs</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
									<a href="" class="m-list-timeline__text">New order received</a>
									<span class="m-list-timeline__time">7 hrs</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
									<a href="" class="m-list-timeline__text">12 new users
										registered</a> <span class="m-list-timeline__time">Just now</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
									<a href="" class="m-list-timeline__text">System shutdown</a> <span
										class="m-list-timeline__time">11 mins</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-danger"></span>
									<a href="" class="m-list-timeline__text">New invoice
										received</a> <span class="m-list-timeline__time">20 mins</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-warning"></span>
									<a href="" class="m-list-timeline__text">Database
										overloaded 89%</a> <span class="m-list-timeline__time">1 hr</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
									<a href="" class="m-list-timeline__text">System error</a> <span
										class="m-list-timeline__time">2 hrs</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
									<a href="" class="m-list-timeline__text">Production server
										down</a> <span class="m-list-timeline__time">3 hrs</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-success"></span>
									<a href="" class="m-list-timeline__text">Production server
										up</a> <span class="m-list-timeline__time">5 hrs</span>
								</div>
								<div class="m-list-timeline__item">
									<span
										class="m-list-timeline__badge m-list-timeline__badge--state-info"></span>
									<a href="" class="m-list-timeline__text">New order received</a>
									<span class="m-list-timeline__time">1117 hrs</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end::Quick Sidebar -->

	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
		<i class="la la-arrow-up"></i>
	</div>
	<!-- end::Scroll Top -->


	<!--begin::Global Theme Bundle -->
	<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
	<script src="/assets/demo/demo9/base/scripts.bundle.js" type="text/javascript"></script>
	<!--end::Global Theme Bundle -->

	<!--begin::Page Vendors -->
	<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
	<!--end::Page Vendors -->

	<!--begin::Page Scripts -->
	<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
	<!--end::Page Scripts -->

	<!-- begin::Page Loader -->
	<script>
		$(window).on('load', function() {
			$('body').removeClass('m-page--loading');
		});
	</script>
	<!-- end::Page Loader -->
</body>

<!-- end::Body -->
</html>