<!DOCTYPE html>
<html lang="cmn-Hans-CN" xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->
<head>
<meta charset="utf-8" />
<title>润檬科技 | 管理台</title>
<meta name="description" content="润檬科技">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

<!--begin::Web font -->
<!--end::Web font -->

<!--begin::Global Theme Styles -->
<link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/demo/demo9/base/style.bundle.css" rel="stylesheet" type="text/css" />
<!--end::Global Theme Styles -->

<!--begin::Page Vendors Styles -->
<link href="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css"
	rel="stylesheet" type="text/css" />
<!--end::Page Vendors Styles -->

<link rel="shortcut icon" href="/assets/demo/demo9/media/img/logo/favicon.ico" />
</head>
<!-- end::Head -->

<!-- begin::Body -->
<body class="m--skin- m-content--skin-light m-header--fixed m-header--fixed-mobile m-aside-left--offcanvas-default m-aside-left--enabled m-aside-left--fixed m-aside-left--skin-dark m-aside--offcanvas-default">

	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">

		<!-- BEGIN: Header -->
		<header th:replace="common/header" />
		<!-- END: Header -->

		<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-container m-container--responsive m-container--xxl m-container--full-height">
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: Subheader -->
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title ">个人中心</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
											<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">-</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<span class="m-nav__link-text">Base</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- END: Subheader -->
					<div class="m-content">
						<div class="row">
							<div class="col-lg-4">
								<div class="m-portlet m-portlet--full-height ">
									<div class="m-portlet__body" >
										<div class="m-card-profile">
											<div class="m-card-profile__title m--hide">Your Profile</div>
											<div class="m-card-profile__pic">
												<div class="m-card-profile__pic-wrapper">
													<img th:src="${session.SYS_ACCOUNT.avatar}" alt="" />
												</div>
											</div>
											<div class="m-card-profile__details">
												<span class="m-card-profile__name" th:text="${session.SYS_ACCOUNT.name}"></span> 
												<a th:href="'tel:'+${session.SYS_ACCOUNT.account}" class="m-card-profile__email m-link" th:text="${session.SYS_ACCOUNT.account}"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-tools">
											<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab"> 
														<i class="flaticon-share m--hide"></i>个人信息
													</a>
												</li>
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
														账号安全
													</a>
												</li>
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
														修改密码
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="tab-content">
										<div class="tab-pane active" id="m_user_profile_tab_1">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													<div class="form-group m-form__group row">
														<div class="col-10 ml-auto">
															<h3 class="m-form__section"></h3>
														</div>
													</div>
													<div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">姓名</label>
														<div class="col-7">
															<input class="form-control m-input" type="text" th:value="${session.SYS_ACCOUNT.name}">
														</div>
													</div>
													<div class="form-group m-form__group row">
														<label for="example-text-input"
															class="col-2 col-form-label">手机</label>
														<div class="col-7">
															<input class="form-control m-input" type="text" th:value="${session.SYS_ACCOUNT.account}">
														</div>
													</div>
												</div>
												<div class="m-portlet__foot m-portlet__foot--fit">
													<div class="m-form__actions">
														<div class="row">
															<div class="col-2"></div>
															<div class="col-7">
																<button type="button" class="btn btn-accent m-btn m-btn--air m-btn--custom">保 存</button>
																&nbsp;&nbsp;
																<button type="button" class="btn btn-secondary m-btn m-btn--air m-btn--custom">取 消</button>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="tab-pane " id="m_user_profile_tab_2">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													<div class="form-group m-form__group row">
														<div class="col-10 ml-auto">
															<h3 class="m-form__section"></h3>
														</div>
													</div>
													<div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">账号类型</label>
														<div class="col-7">
															<input disabled class="form-control m-input" type="text" th:if="${session.SYS_ACCOUNT.accountType.name() == 'HEADMASTER'}" th:value="校长">
															<input disabled class="form-control m-input" type="text" th:if="${session.SYS_ACCOUNT.accountType.name() == 'TEACHER'}" th:value="教师">
															<input disabled class="form-control m-input" type="text" th:if="${session.SYS_ACCOUNT.accountType.name() == 'OTHER'}" th:value="其他">
														</div>
													</div>
													<div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">上次登录</label>
														<div class="col-7">
															<input disabled class="form-control m-input" type="text" th:value="${#dates.format(session.SYS_ACCOUNT.lastLoginTime, 'yyyy-MM-dd HH:mm:ss')}">
														</div>
													</div>
													<div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">绑定微信</label>
														<div class="col-7">
															<input disabled class="form-control m-input" type="text" th:value="${#dates.format(session.SYS_ACCOUNT.lastLoginTime, 'yyyy-MM-dd HH:mm:ss')}">
														</div>
													</div>
												</div>
												<div class="m-portlet__foot m-portlet__foot--fit">
													<div class="m-form__actions">
														<div class="row">
															<div class="col-2"></div>
															<div class="col-7">
																<button type="button" class="btn btn-accent m-btn m-btn--air m-btn--custom">保 存</button>
																&nbsp;&nbsp;
																<button type="button" class="btn btn-secondary m-btn m-btn--air m-btn--custom">取 消</button>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="tab-pane " id="m_user_profile_tab_3">
											<form class="m-form m-form--fit m-form--label-align-right">
												<div class="m-portlet__body">
													<div class="form-group m-form__group row">
														<div class="col-10 ml-auto">
															<h3 class="m-form__section"></h3>
														</div>
													</div>
													<div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">原密码</label>
														<div class="col-7">
															<input class="form-control m-input" type="password" name="oldPass">
														</div>
													</div>
													<div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">新密码</label>
														<div class="col-7">
															<input class="form-control m-input" type="password" name="newPass">
														</div>
													</div>
													<div class="form-group m-form__group row">
														<label for="example-text-input" class="col-2 col-form-label">密码确认</label>
														<div class="col-7">
															<input class="form-control m-input" type="password" name="rePass">
														</div>
													</div>
												</div>
												<div class="m-portlet__foot m-portlet__foot--fit">
													<div class="m-form__actions">
														<div class="row">
															<div class="col-2"></div>
															<div class="col-7">
																<button type="button" class="btn btn-accent m-btn m-btn--air m-btn--custom">修 改</button>
																&nbsp;&nbsp;
																<button type="button" class="btn btn-secondary m-btn m-btn--air m-btn--custom">取 消</button>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end:: Body -->

		<!-- begin::Footer -->
		<footer th:replace="common/footer" />		
		<!-- end::Footer -->
		
	</div>
	<!-- end:: Page -->

	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
		<i class="la la-arrow-up"></i>
	</div>
	<!-- end::Scroll Top -->
	
	<!--begin::Global Theme Bundle -->
	<script src="assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
	<script src="assets/demo/demo9/base/scripts.bundle.js" type="text/javascript"></script>
	<!--end::Global Theme Bundle -->
	
</body>
<!-- end::Body -->
</html>